

.slidecontainer{
  width: 100%;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: grey;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

#electric.slider::-webkit-slider-thumb{
  background: khaki;
}

#fight.slider::-webkit-slider-thumb{
  background: purple;
}

#fire.slider::-webkit-slider-thumb{
  background: crimson;
}

#ice.slider::-webkit-slider-thumb{
  background: aqua;
}

#fly.slider::-webkit-slider-thumb{
  background: plum;
}

.slides{
  font-size: 10pt;
  font-family: 'Dosis', sans-serif;
}

.circle {
    background: #c4abed;
    opacity: 0.7;
    border-radius: 500px;
    color: white;
    height: 500px;
    font-weight: bold;
    width: 500px;
    display: table;
    margin: 20px auto;
}

#addCircle{
  padding: 10px;
  width: 600px;
  height:550px;
}

.circle p {
  font-size: 35pt;
  font-family: 'Dosis', sans-serif;
    vertical-align: middle;
    display: table-cell;
    padding-left: 20px;
}

h1{
  font-size: 25pt;
  font-family: 'Dosis', sans-serif;
}

#tokimonTable{
  width: 100%;
  border-radius: 10px;
}

.noborder{
  border-bottom: hidden;
  border-left: hidden;
  border-top: hidden;
}
#tokimonCells{
  padding: 10px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#tokimonNames{
  width:50%;
}

#indivTable{
  width: 50%;
  border-radius: 20px;
}

#indivCircle{
  width: 900px;
}

#indivButton{
  display: inline-block;
}

th{
  font-size: 17pt;
}

td{
  font-size: 14pt;
}


#addP{
  font-size: 15pt;
  font-family: 'Dosis', sans-serif;
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}

#attribute{
  font-size: 15pt;
  font-family: 'Dosis', sans-serif;
  border-radius: 10px;
}

#addButton,#updateButton{
  color: mediumorchid;
  border-radius: 20px;
  background-color: white;
  font-size: 18px;
  padding: 10px;
}

#addTd{
  padding-top: 8px;
}

#view{
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  background: #c4abed;
  opacity: 0.7;
  font-size: 20px;
}

#viewAdd{
  width: 50%;
  border-radius: 10px;
  padding: 5px;
  background: mediumpurple;
  opacity: 0.7;
  font-size: 15px;
}

#edit{
  background: turquoise;
  opacity: 0.8;
  font-family: 'Dosis', sans-serif;
  color: white;
  border-radius: 10px;
  width: 60px;
}

#delete{
  background: crimson;
  opacity: 0.8;
  font-family: 'Dosis', sans-serif;
  color: white;
  border-radius: 10px;
}

.row{
  padding: 20px;
}
.column {
  float: left;
  width: 50%;
  align-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.div{
  align-content: center;
}


.button{
  background-color: #c4abed;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 50%;
  font-family: 'Dosis', sans-serif;
}

#backButton{
  font-size: 20px;
}

#indivButton:hover, #homeButton:hover,#addButton:hover, #updateButton:hover, #view:hover, #viewAdd:hover,#edit:hover, #delete:hover, #backButton:hover{
  opacity: 1;
}
