<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Tokimon added!</title>
    <meta name="viewport" content="width=device-width,initial-scale-1" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/tokidex.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Quicksand&display=swap">
    <!--<% include ../partials/header.ejs %>-->
  </head>

  <body>

  <div class="row">
    <div class="column">
      <div align="center" class="circle">
        <p>Tokimon added!</p>
      </div>
    </div>
    <div class="column">
      <form class="" action="/add" method="get">
        <button id="homeButton" onclick="" type="submit" class="button">Add another Tokimon</button>
      </form>
      <form class="" action="/individuals" method="get">
        <button id="homeButton" onclick="" type="submit" class="button">View my Tokimons</button>
      </form>
    </div>
  </div>

</body>
</html>
