<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Tokidex</title>
    <meta name="viewport" content="width=device-width,initial-scale-1" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/tokidex.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Quicksand&display=swap">
    <!--<% include ../partials/header.ejs %>-->
  </head>

  <body>
    <!--<% include ../partials/nav.ejs %>-->
    <!-- <div class="jumbotron text-center">
      <h1>Tokidex</h1>

    </div> -->
  <div class="row">
      <div class="circle">
        <p>Tokimon updated!</p>
      </div>
      <form class="" action="/individuals" method="get">
        <button id="homeButton" onclick="" type="submit" class="button">View my Tokimons</button>
      </form>
  </div>

</body>
</html>
